{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/w_favicon.png"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/w_favicon.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/w_favicon.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/w_favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->

<meta property="og:site_name" content="Federico Trastulli">

<!-- Schema.org Person markup -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Federico Trastulli",
  "url": "https://federicotrastulli.github.io/",
  "image": "https://federicotrastulli.github.io/images/1719964921051.png",
  "jobTitle": "Political scientist / Researcher / Academic",
  "sameAs": [
    "https://www.linkedin.com/in/federicotrastulli",
    "https://github.com/federicotrastulli",
    "https://x.com/fedetrastulli",
    "https://bsky.app/profile/fedetrastulli.bsky.social",
    "https://scholar.google.com/citations?user=3qqwvK8AAAAJ&hl=it",
    "https://www.researchgate.net/profile/Federico_Trastulli2?ev=hdr_xprf",
    "https://www.dsu.univr.it/?ent=persona&id=79634&lang=it"
  ]
}
</script>
